@import '../variables.module.scss';
@import '../animations.module.scss';

.loading-container {
  background-color: $clr-secondary;
  position: absolute;
  inset: 0;
  z-index: 99999;
  color: $clr-white;
  display: flex;
  justify-content: center;
  align-items: center;

  animation: closeAnimation 1s 3s linear forwards;
}

// loading bmsptra24
