@import '../animations.module.scss';
@import '../variables.module.scss';
@import '../atom-components.module.scss';

.puisi {
  $distance: 5rem;
  min-height: $screen-height * 1.1;
  width: 100%;
  margin-top: $section-distance * 2;
  position: relative;
  border-radius: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/images/background/awards-front.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  // nonactive cursor
  cursor: none;
  user-select: none;

  .description {
    width: 300px;
    position: absolute;
    right: 10rem;
    bottom: 10rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    color: $clr-secondary;
    text-shadow: 0px 0px 5px $clr-white, 2px 2px 5px $clr-white;

    $font-size: 1.5rem;
    font-size: $font-size;

    @media screen and (max-width: $medium) {
      font-size: $font-size / 2;
      line-height: $font-size / 2;
      right: 1rem;
      bottom: 1rem;
    }

    .btn-read-more {
      background-color: $clr-primary;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      font-weight: bold;
    }
  }

  // pointer
  .pointer {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: $clr-primary;
    z-index: 2;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &:active {
    .background {
      transition: 500ms linear;
      clip-path: circle(
        var(--cursor-clip-size) at var(--cursor-x) var(--cursor-y)
      );
    }
  }

  // dark cover
  .background {
    inset: 0;
    position: absolute;
    height: $screen-height * 1.1;
    background-color: $clr-primary;
    z-index: 1;
    border-radius: 100px;
    clip-path: circle(200px at var(--cursor-x) var(--cursor-y));
    background-image: url('/images/background/awards-back.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    h1 {
      text-shadow: 1px 1px 10px $clr-white, 2px 2px 5px $clr-white;
      color: $clr-secondary;
    }

    .puisi-body p {
      color: $clr-secondary;
      text-shadow: 0px 0px 5px $clr-white, 2px 2px 5px $clr-white;
    }
  }

  h1 {
    $font-size: 12rem;
    color: $clr-primary;
    @include container; //module ac
    padding-top: $distance;
    padding-bottom: 1.5rem;
    font-size: $font-size;
    line-height: $font-size;
    // background-color: #ea5455;
    padding-left: 1rem;
    padding-right: 1rem;

    @media screen and (max-width: $medium) {
      font-size: $font-size / 2;
      line-height: $font-size / 2;
    }

    @media screen and (max-width: $small) {
      font-size: $font-size / 2.5;
      line-height: $font-size / 2.5;
    }

    span {
      text-wrap: nowrap;
    }
  }

  .puisi-body {
    @include container; //module ac
    display: flex;
    gap: 1rem;
    flex-direction: column;

    padding-left: 1rem;
    padding-right: 1rem;

    p {
      color: $clr-white;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.2rem;

      @media screen and (max-width: $small) {
        font-size: 0.9rem;
        line-height: 1rem;
      }
    }
  }
}
