@import '../animations.module.scss';
@import '../variables.module.scss';
@import '../atom-components.module.scss';

.puisi {
  $distance: 10rem;
  min-height: $screen-height * 1.1;
  width: 100%;
  margin-top: $section-distance;
  position: relative;
  border-radius: 100px;

  // nonactive cursor
  cursor: none;
  user-select: none;

  .description {
    width: 300px;
    position: absolute;
    right: 10rem;
    bottom: 10rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    // font-size: 1.5 rem;
    color: $clr-black;

    .btn-read-more {
      background-color: #f07b3f;
      height: 120px;
      width: 120px;
      border-radius: 50%;
      font-weight: bold;
    }
  }

  // pointer
  .pointer {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #f07b3f;
    z-index: 2;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &:active {
    .background {
      transition: 500ms linear;
      clip-path: circle(
        var(--cursor-clip-size) at var(--cursor-x) var(--cursor-y)
      );
    }
  }

  // dark cover
  .background {
    inset: 0;
    position: absolute;
    height: $screen-height * 1.1;
    background-color: $clr-primary;
    z-index: 1;
    border-radius: 100px;
    clip-path: circle(70px at var(--cursor-x) var(--cursor-y));

    h1 {
      color: $clr-thirdary;
    }

    .puisi-body p {
      color: $clr-black;
    }
  }

  h1 {
    $font-size: 12rem;
    color: $clr-primary;
    @include container; //module ac
    padding-top: $distance;
    padding-bottom: 1.5rem;
    font-size: $font-size;
    line-height: $font-size;
    // background-color: #ea5455;

    span {
      text-wrap: nowrap;
    }
  }

  .puisi-body {
    @include container; //module ac
    display: flex;
    gap: 1rem;
    flex-direction: column;

    p {
      color: $clr-white;
      font-size: 1.5rem;
      line-height: 1.2rem;
    }
  }
}
