@import 'atom-components.module.scss';
@import 'variables.module.scss';

.footer-container {
  border-top: 2px solid $clr-white;
  margin-top: 100px;
  height: 300px;
  color: $clr-white;

  footer {
    @include container;
  }
}
