@import 'atom-components.module.scss';
@import 'variables.module.scss';

.footer-container {
  // border-top: 2px solid $clr-white;
  margin-top: 100px;
  margin-bottom: 100px;
  // height: 300px;
  color: $clr-white;

  footer {
    @include container;
    padding: 2rem 0 2rem 0;
    display: flex;

    @media screen and (max-width: $medium) {
      flex-direction: column;
      gap: 5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    div {
      display: flex;
      gap: 5rem;
      flex-direction: column;
      width: 50%;

      @media screen and (max-width: $medium) {
        width: 90%;
      }

      div {
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
        width: 100%;

        h1 {
          opacity: 80%;
        }

        li {
          font-weight: 600;
          line-height: 2.5rem;
          display: flex;
          align-items: center;
          gap: 2rem;
          cursor: default;
          transition: all 200ms ease-in-out;
          width: fit-content;

          p {
            line-height: 2rem;
            font-size: 1.3rem;

            @media screen and (max-width: $medium) {
              font-size: 1rem;
              line-height: 1.5rem;
            }
          }

          .link:hover {
            p {
              text-decoration-line: underline;
            }
          }

          &:hover {
            gap: 1.5rem;

            .icon-arrow {
              rotate: 0deg;
            }
          }

          .icon-arrow {
            transition: all 200ms;
            font-size: medium;
            rotate: -45deg;
          }
        }

        p {
          font-weight: 500;
          font-size: 2rem;
          line-height: 3rem;

          @media screen and (max-width: $medium) {
            font-size: 1.5rem;
            line-height: 2.5rem;
          }

          .playlist-url {
            text-decoration-line: underline;
          }
        }
      }
    }
  }
}
