@import 'variables.module.scss';
@import 'atom-components.module.scss';

@mixin header($background: transparent, $font-color: $clr-black, $opacity: 0) {
  width: 100%;
  z-index: 10;
  /* From https://css.glass */
  background: $background;
  // opacity: 0.18;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  // border: 1px solid rgba(255, 255, 255, 0.3);

  p {
    color: $font-color;
    &:hover {
      text-decoration-line: underline;
    }
  }

  header {
    @include container; //module ac

    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;

    > .link {
      &:hover {
        font-weight: 600;
        letter-spacing: -0.05em;

        --tw-text-opacity: 1;
        color: rgb(226 232 240 / var(--tw-text-opacity));
      }
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;

      cursor: pointer;
    }

    > div {
      display: flex;
      gap: 3rem /* 48px */;

      > .link {
        cursor: pointer;
        &:hover {
          --tw-text-opacity: 1;
          color: rgb(226 232 240 / var(--tw-text-opacity));
        }
      }
    }
  }
}

.header-dark {
  @include header(transparent, $clr-white);
}

.header-light {
  @include header(transparent, $clr-black);
}
