@import 'variables.module.scss';
@import 'animations.module.scss';

body {
  overflow: hidden;
  height: max-content;
}

// wrapper
.profil-container {
  height: 100svh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  display: block;
  background-color: $clr-secondary;
}
