$nav-height: 4.7rem;
$px-container: 7svw;

// responsive
$small: 480px;
$medium: 900px;
$large: 1280px;
$screen-height: 965px;

// colors
$clr-white: white;
$clr-black: black;
$clr-primary: #ffd460;
$clr-secondary: #2d4059;
$clr-thirdary: #ea5455;
$clr-fourary: #f07b3f;

body {
  overflow: hidden;
  height: max-content;
}

// wrapper
.profil-container {
  height: 100svh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  display: block;
  background-color: $clr-secondary;

  .person {
    min-height: calc($screen-height - $nav-height);
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: $clr-secondary;
    color: $clr-white;

    // paralax effect
    z-index: -1;
    transform: translateZ(-10px) scale(2.084);
    transform-style: preserve-3d;
    margin-bottom: 51svh;

    .marquee {
      // background-color: aqua;
      margin-top: 4%;
      overflow: hidden;
      position: relative;
      height: 370px;
      width: 100%;
      color: $clr-primary;

      @media screen and (max-width: $small) {
        margin-top: -10%;
      }

      .items {
        position: absolute;
        height: 100%;
        width: max-content;
        display: flex;
        gap: 0.2em;
        align-items: center;
        animation: marquee 7s linear infinite;

        position: absolute;
        overflow: hidden;

        font-size: 400px;
        font-weight: bolder;

        @media screen and (max-width: $small) {
          animation: marquee 8s linear infinite;
          font-size: 200px;
        }
      }
    }

    .intro {
      // background-color: aqua;
      padding-left: $px-container;
      padding-right: $px-container;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $medium) {
        justify-content: center;
      }

      // div {
      //   border: 10px brown solid;
      // }

      .text1 {
        max-width: 16rem;
        font-size: medium;
        display: flex;
        flex-direction: column;
        gap: 100px;

        p {
          span {
            color: $clr-primary;
          }

          &:nth-child(2) {
            display: none;
          }
        }

        @media screen and (max-width: $large) {
          gap: 50px;
          max-width: 12rem;
        }

        @media screen and (max-width: $medium) {
          margin-top: 250px;
          gap: 30px;
          max-width: none;
          p:nth-child(1) {
            margin-right: 20rem;
          }
          p:nth-child(2) {
            display: block;
            margin-left: 20rem;
          }
        }

        @media screen and (max-width: $small) {
          margin-top: 10rem;
          gap: 30px;
          max-width: none;
          p:nth-child(1) {
            font-size: smaller;
            margin-right: 5rem;
          }
          p:nth-child(2) {
            display: block;
            margin-left: 5rem;
          }
        }

        .btn {
          background-color: $clr-thirdary;
          border-radius: 50%;
          display: grid;
          place-content: center;
          align-self: flex-end;
          height: 150px;
          width: 150px;
          font-size: large;
          font-weight: bold;
          cursor: pointer;
          transition: all 300ms;

          &:hover {
            $shadow-size: 6px;
            box-shadow: $shadow-size $shadow-size $clr-fourary,
              calc($shadow-size * -1) calc($shadow-size * -1) $clr-primary;
          }

          @media screen and (max-width: $medium) {
            align-self: center;
          }
        }
      }

      .hero {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%);

        // background-color: $clr-fourary;
        display: grid;
        place-content: center;
        height: 600px;
        width: 600px;

        .image {
          border-radius: 50%;
        }

        @media screen and (max-width: $large) {
          height: 400px;
          width: 400px;
        }

        @media screen and (max-width: $large) {
          top: 30%;
        }

        @media screen and (max-width: $small) {
          top: 30%;
          height: 85svw;
          width: 85svw;
        }
      }

      .text2 {
        max-width: 25rem;
        display: flex;
        align-items: end;

        p {
          span {
            color: $clr-primary;
          }
        }

        @media screen and (max-width: $large) {
          max-width: 20rem;
        }

        @media screen and (max-width: $medium) {
          display: none;
        }

        @media screen and (max-width: $small) {
          max-width: 60rem;
        }
      }
    }
  }

  .about {
    min-height: $screen-height;
    width: 100%;
    background-color: $clr-primary;
    border-radius: 5rem;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: $clr-secondary;

    // paralax effect
    transform-style: preserve-3d;
    transform: translateZ(-5px) scale(1.5084);

    .title {
      margin-top: 35rem;
      border-top: 0.2rem solid $clr-secondary;
      border-bottom: 0.2rem solid $clr-secondary;
      height: 15rem;

      h1 {
        margin-top: 7.25rem;
        font-size: 15rem;
      }
    }

    .marquee {
      background-color: #f07b3f;
      position: relative;
      display: flex;
      margin-bottom: -5rem;

      .items {
        display: flex;
        position: absolute;
        background-color: $clr-fourary;
        div {
          display: flex;
          padding: 2rem;
          border-radius: 20px;
          gap: 1rem;
          align-items: center;
          padding-right: 8rem;
          cursor: default;
          filter: grayscale(100%);

          &:hover {
            animation: grayscale 500ms ease-in-out forwards;
          }

          p {
            color: $clr-white;
            font-size: 4rem;
            text-wrap: nowrap;
          }

          .img {
            width: 70px;
            height: auto;
          }
        }

        &:nth-child(1) {
          margin-top: 4rem;
          animation: marquee 10s linear infinite;
          transform: translate(-5rem);
        }

        &:nth-child(2) {
          margin-top: 17rem;
          animation: marquee 10s reverse linear infinite;
          transform: translate(-5rem);
        }
      }
    }
  }

  .puisi {
    $distance: 10rem;
    min-height: $screen-height;
    width: 100%;
    margin-top: calc(($screen-height / 2) + 1rem);
    position: relative;
    border-radius: 100px;

    // nonactive cursor
    cursor: none;
    user-select: none;

    .btn-read-more {
      background-color: #f07b3f;
      height: 120px;
      width: 120px;
      position: absolute;
      border-radius: 50%;
      right: 10rem;
      bottom: 10rem;
      z-index: 2;
    }

    // pointer
    .pointer {
      position: absolute;
      width: 200px;
      height: 200px;
      background-color: #f07b3f;
      z-index: 2;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    // dark cover
    .background {
      inset: 0;
      position: absolute;
      height: $screen-height;
      background-color: $clr-primary;
      z-index: 1;
      clip-path: circle(70px at var(--cursor-x) var(--cursor-y));

      &:active {
        transition: 500ms linear;
        clip-path: circle(200px at var(--cursor-x) var(--cursor-y));
      }

      h1 {
        color: $clr-thirdary;
      }

      .puisi-body p {
        color: $clr-black;
      }
    }

    h1 {
      color: $clr-primary;
      padding: $distance;
      font-size: 15rem;
      // background-color: #ea5455;
    }

    .puisi-body {
      margin-left: $distance;
      display: flex;
      gap: 1rem;
      flex-direction: column;

      p {
        color: $clr-white;
        font-size: 2rem;
      }
    }
  }

  .project {
    $distance: 10rem;
    min-height: $screen-height;
    width: 100%;
    position: relative;

    .cover {
      position: absolute;
      inset: 0;
      background-color: $clr-secondary;
      opacity: 100%;

      $ilustration-1-height: 600px;
      $ilustration-1-width: 900px;

      .ilustration-1 {
        margin: auto;
        inset: 0;
        height: $ilustration-1-height;
        width: $ilustration-1-width;
        position: absolute;
        opacity: 100%;
        z-index: 2;

        $ilustration-2-height: 230px;
        $ilustration-2-width: 350px;

        .img {
          border-radius: 25px;
        }

        .ilustration-2 {
          position: absolute;
          top: 400px;
          right: -100px;
          height: $ilustration-2-height;
          width: $ilustration-2-width;

          .img {
            border-radius: 10px;
          }
        }
      }
    }

    h1 {
      padding: $distance;
      color: $clr-primary;
      font-size: 15rem;
      // background-color: #ea5455;
    }

    .items {
      margin-left: $distance;
      margin-right: $distance;

      table {
        width: 100%;

        tbody {
          tr {
            position: relative;
            align-items: center;
            height: 5rem;
            border-top: 1.7px solid $clr-white;
            &:nth-last-child(1) {
              border-bottom: 1.7px solid $clr-white;
            }
            color: $clr-white;
            opacity: 100%;

            // highlight the selection item
            &:hover {
              z-index: 2;
              opacity: 20%;
              animation: project-show 300ms ease-in-out forwards;
            }

            // highlight the unselection item
            &:not(:hover) {
              opacity: 20%;
            }

            td {
              &:nth-last-child(1) {
                display: flex;
                justify-content: end;
                align-items: center;
                height: 5rem;
              }
            }

            span {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              cursor: pointer;

              &:hover {
                .icon-arrow {
                  padding: 10px;
                  font-size: 40px;
                  rotate: 0deg;
                }
              }

              .icon-arrow {
                color: $clr-secondary;
                background-color: $clr-white;
                padding: 7px;
                font-size: 30px;
                border-radius: 50%;
                transition: all 300ms;
                rotate: -45deg;
              }
            }
          }
        }
      }

      &:not(:hover) {
        tr {
          transition: all 1s;
          opacity: 100% !important;
        }
      }
    }
  }
}

// // Define variables for floating effect
$floating-distance: 5px;
$floating-duration: 5s;

// Define styles for the floating element
.floating-sm {
  animation: floating-sm $floating-duration infinite alternate ease-in-out !important;
}
.floating-md {
  animation: floating-md $floating-duration infinite alternate ease-in-out !important;
}

@keyframes floating-sm {
  0% {
    transform: translate(
      calc((random(7) + 3) * 1px),
      calc((random(7) + 3) * 1px)
    );
  }
  25% {
    transform: translate(
      calc((random(7) + 3) * 1px),
      calc((random(7) + 3) * 1px)
    );
  }
  50% {
    transform: translate(
      calc((random(7) + 3) * 1px),
      calc((random(7) + 3) * 1px)
    );
  }
  75% {
    transform: translate(
      calc((random(7) + 3) * 1px),
      calc((random(7) + 3) * 1px)
    );
  }
  100% {
    transform: translate(
      calc((random(7) + 3) * 1px),
      calc((random(7) + 3) * 1px)
    );
  }
}

@keyframes floating-md {
  0% {
    transform: translate(
      calc((random(17) + 3) * 1px),
      calc((random(17) + 3) * 1px)
    );
  }
  25% {
    transform: translate(
      calc((random(17) + 3) * 1px),
      calc((random(17) + 3) * 1px)
    );
  }
  50% {
    transform: translate(
      calc((random(17) + 3) * 1px),
      calc((random(17) + 3) * 1px)
    );
  }
  75% {
    transform: translate(
      calc((random(17) + 3) * 1px),
      calc((random(17) + 3) * 1px)
    );
  }
  100% {
    transform: translate(
      calc((random(17) + 3) * 1px),
      calc((random(17) + 3) * 1px)
    );
  }
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: calc(-1770px - 0.2em);
  }
}

@keyframes grayscale {
  to {
    filter: grayscale(0%);
  }
}

@keyframes project-show {
  $border-size: 3px;
  to {
    opacity: 100%;
    padding-top: calc(1.5rem - $border-size);
    padding-bottom: calc(1.5rem - $border-size);
    border-top: $border-size solid $clr-white;
    border-bottom: $border-size solid $clr-white;
  }
}

$animation-duration: 500ms;

.fadeIn {
  animation: fadeIn $animation-duration linear forwards !important;
}

.fadeOut {
  animation: fadeOut $animation-duration linear forwards !important;
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0%;
  }
  100% {
    display: block;
    opacity: 95%;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 95%;
  }
  100% {
    display: none;
    opacity: 0%;
  }
}
