@import 'variables.module.scss';
@import 'animations.module.scss';

// body {
//   overflow: hidden;
//   height: max-content;
// }

// wrapper
.profil-container {
  min-height: 100svh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  // gap: 100px;
  background-color: $clr-secondary;
}
