$primary-color: #64ff00;

$nav-height: 4.7rem;
$px-container: 7svw;

// responsive
$small: 480px;
$medium: 900px;
$large: 1280px;
$screen-height: 965px;

// colors
$clr-white: white;
$clr-black: black;
$clr-primary: #ffe6a7;
$clr-secondary: #432818;
$clr-thirdary: #99582a;
$clr-fourary: #6f1d1b;

$tes: 10rem;

$section-distance: 10rem;
// :export {
//   primaryColor: $primary-color;
// }
