$primary-color: #64ff00;

$nav-height: 4.7rem;
$px-container: 7svw;

// responsive
$small: 480px;
$medium: 900px;
$large: 1280px;
$screen-height: 965px;

// colors
$clr-white: white;
$clr-black: black;
$clr-primary: #ffd460;
$clr-secondary: #2d4059;
$clr-thirdary: #ea5455;
$clr-fourary: #f07b3f;

$tes: 10rem;
// :export {
//   primaryColor: $primary-color;
// }
